<div class="row">
    <div class="col-sm-12">
      <center>
        <h2>Reviews for <u><%= link_to @book.title, book_path(@book) %></u></h2>
      </center>
    </div>
  </div>

<div class="row">
  <div class="col-sm-8">
    <p><strong>Title:</strong> <%= @review.title %></p>
    <p><strong>Rating:</strong> <%= @review.rating.to_s %></p>
    <p><strong>Content:</strong> <%= @review.content %></p>
    <p><strong>Written by:</strong> <%= @review.user.email %></p>
  </div>
  <div class="col-sm-4">
    <% if can? :update, @review %>
      <center>
        <br>
        <%= link_to "Edit this review", edit_book_review_path(@book.id, @review.id) %> <br>
        <%= link_to "Delete this review", book_review_path(@book.id, @review.id), :method => "delete"  %>
      </center>
    <% end %>
</div>
